        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #1a1a1a; 
            color: #10f7b1;
        }
        #grid-container {
            display: grid;
            grid-template-columns: repeat(10, 40px);
            gap: 5px;
            margin: 20px auto;
            max-width: 450px;
            justify-content: center;
        }
        .cell {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            background-color: rgb(136, 130, 130);
            cursor: pointer;
            border-radius: 5px;
            user-select: none;
        }
        #retry {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            background-color: #ff0000;
            color: white;
            cursor: pointer;
            border-radius: 5px;
        }
        #retry:hover {
            background-color: #8b1b1b;
        }
        @media (max-width: 500px) {
            #grid-container {
                grid-template-columns: repeat(10, 35px);
                max-width: 350px;
            }
            .cell {
                width: 30px;
                height: 30px;
                font-size: 12px;
            }
        }